---
import WidgetWrapper from '~/components/ui/WidgetWrapper.astro';
import Headline from '~/components/ui/Headline.astro';
import ItemGrid2 from '~/components/ui/ItemGrid2.astro';
import Arrow from '~/components/ui/svg/Arrow.astro';
import { Icon } from 'astro-icon/components';
import type { Features as Props } from '~/types';

const {
  title = await Astro.slots.render('title'),
  subtitle = await Astro.slots.render('subtitle'),
  tagline = await Astro.slots.render('tagline'),
  items = [],
  columns = 3,
  defaultIcon,

  id,
  isDark = false,
  classes = {},
  bg = await Astro.slots.render('bg'),
} = Astro.props;
---

<WidgetWrapper id={id} isDark={isDark} containerClass={`max-w-6xl mx-auto ${classes?.container ?? ''}`} bg={bg}>
  <Headline title={title} subtitle={subtitle} tagline={tagline} classes={classes?.headline as Record<string, string>} />
  <ItemGrid2
    items={items}
    columns={columns}
    defaultIcon={defaultIcon}
    classes={{
      title: 'text-2xl',
      container: 'gap-4 md:gap-6',
      panel:
        'rounded-lg shadow-[0_4px_30px_rgba(0,0,0,0.1)] dark:shadow-[0_4px_30px_rgba(0,0,0,0.1)] backdrop-blur border border-[#ffffff29] bg-white dark:bg-slate-900 p-6',
      icon: 'w-12 h-12 mb-6 text-primary',
      ...((classes?.items as Record<string, never>) ?? {}),
    }}
  />
  <div class="flex justify-center items-start w-full px-[5rem] gap-8 flex-wrap">
    {
      items && items.map(item => (
        <div class="flex flex-col min-w-[324px] max-w-[324px] min-h-[425px] max-h-[425px] items-center justify-start col-span-1 px-6 pt-6 bg-white rounded-lg shadow-lg ">
          <div class={`rounded-full ${item.color} size-16 flex justify-center items-center`}>
            <Icon
              name={item.icon || defaultIcon}
              class={`size-14 p-2 rounded-full text-white`}
            />
          </div>
          <h1 class="mt-2 text-2xl font-semibold text-center ">{item.title}</h1>
          <ul class="mt-6 mb-10 space-y-2">
            {
              item.points && item.points.map(point => (
                <div class="flex items-start space-x-2">
                  <Arrow class="max-w-[12px] w-full h-full max-h-[12px] text-quaternary mr-2 mt-1.5"/>
                  <li class="text-[15px]">{point}</li>
                </div>
              ))
            }
          </ul>
        </div>
      ))
    }
  </div>
</WidgetWrapper>
