---
import StyleTitle from '~/components/ui/svg/StyleTitle.astro';
import Style2Title from '~/components/ui/svg/Style2Title.astro';
import ButtonHero from '~/components/ui/ButtonHero.tsx';

import type { Hero as Props } from '~/types';

const {
  title = await Astro.slots.render('title'),
  subtitle = await Astro.slots.render('subtitle'),
  tagline,

  content = await Astro.slots.render('content'),
  id,
} = Astro.props;

---

<section class="relative md:-mt-[76px] not-prose " {...id ? { id } : {}}>
  <div class="relative max-w-6xl px-6 mx-auto md:px-28">
    <!-- <Particles id="tsparticles" class="w-full"  options={options} /> -->
    <div class="pt-0 md:pt-[76px] pointer-events-none"></div>
    <div class="relative z-20 py-16 md:py-12" >
      <div class="flex flex-col items-center justify-center max-w-5xl pb-10 mx-auto space-y-6 text-center md:pb-16 ">
        {
          tagline && (
            <p
              class="text-base font-bold tracking-wide uppercase text-secondary dark:text-blue-200 intersect-once intersect-quarter motion-safe:md:opacity-0 motion-safe:md:intersect:animate-fade"
              set:html={tagline}
            />
          )
        }
        {
          title && (
            <h2 class="wdt-heading-title-wrapper wdt-heading-align-center wdt-heading-deco-wrapper motion-safe:md:opacity-0 motion-safe:md:intersect:animate-fade">
              <div class="flex wdt-heading-title">
                <StyleTitle class="wdt-shin size-10 text-primary"/>
                <span class="text-6xl font-bold" set:html={title}/>
                <Style2Title class="text-yellow-400 wdt-glit size-10"/>
              </div>
            </h2>
          )
        }
        <div class="flex flex-col items-center justify-center max-w-2xl ">
          {
            subtitle && (
              <p
                class="mb-6 text-[18px] mx-auto text-black font-normal  text-muted dark:text-slate-300 intersect-once intersect-quarter motion-safe:md:opacity-0 motion-safe:md:intersect:animate-fade"
                set:html={subtitle}
              />
            )
          }
         <div class="flex flex-col max-w-xs duration-500 ease-in-out sm:max-w-md flex-nowrap sm:flex-row intersect-once intersect-quarter motion-safe:md:opacity-0 motion-safe:md:intersect:animate-fade">
          <ButtonHero client:visible/>
        </div>
        
        </div>
        {content && <Fragment set:html={content} />}
      </div>
      <div class="relative z-20 flex flex-col items-center justify-center space-y-6 sm:space-x-10 sm:flex-row sm:space-y-0 motion-safe:md:opacity-0 motion-safe:md:intersect:animate-fade">
        <div class="flex flex-col p-5 bg-gray-50 shadow-[-10px_-10px_30px_4px_rgba(0,0,0,0.1),_10px_10px_30px_4px_rgba(135,43,151,0.15)] rounded-lg text-start max-w-[350px] space-y-2">
          <div class="flex items-center space-x-1">
            <div class="relative flex items-center justify-center w-10 h-6 bg-tertiary rounded-xl">
              <span class="absolute text-[14px] font-semibold text-white">new</span>
            </div>
            <h3 class="text-[24px] font-semibold">1000+</h3>
          </div>
          <p class="text-[17px]">Journalists always connected to share stories, news, and unique collaborations with you.</p>
        </div>
        <div class="flex flex-col p-5 bg-gray-50 shadow-[-10px_-10px_30px_4px_rgba(0,0,0,0.1),_10px_10px_30px_4px_rgba(135,43,151,0.15)] rounded-lg text-start max-w-[350px] space-y-2">
          <div class="flex items-center space-x-1">
            <div class="relative flex items-center justify-center w-10 h-6 bg-tertiary rounded-xl">
              <span class="absolute text-[14px] font-semibold text-white">new</span>
            </div>
            <h3 class="text-[24px] font-semibold">24/7</h3>
          </div>
          <p class="text-[17px]">PR Agent for You, always here to manage your brand and connect with your audience.</p>
        </div>
      </div>
    </div>
  </div>
</section>


<style>
  .wdt-shin {
    -webkit-animation: moving-needle alternate 1.5s infinite;
    animation: moving-needle alternate 1.5s infinite;
  }
  
  .wdt-glit {
    -webkit-animation: glittering alternate .5s ease-in infinite;
    animation: glittering alternate .5s ease-in infinite;
  }
  @keyframes glittering {
  0% {
    opacity: 0.8;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
  }
  100% {
    opacity: 1;
    box-shadow: 0 0 15px rgba(255, 255, 255, 1);
  }
}

  @keyframes moving-needle {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(-25deg);
    }
  }

</style>
