---
import WidgetWrapper from '~/components/ui/WidgetWrapper.astro';
import Headline from '~/components/ui/Headline.astro';
import Forbes from '~/components/ui/svg/Forbes.astro'; 
import CNN from '~/components/ui/svg/CNN.astro'; 
import CBS from '~/components/ui/svg/CBS.astro'; 
import Bloomberg from '~/components/ui/svg/Bloomberg.astro'; 
import Reuters from '~/components/ui/svg/Reuters.astro'; 
import AP from '~/components/ui/svg/AP.astro'; 
import type { Features as Props } from '~/types';

const {
  title = await Astro.slots.render('title'),
  subtitle = await Astro.slots.render('subtitle'),
  tagline = await Astro.slots.render('tagline'),

  id,
  isDark = false,
  classes = {},
  bg = await Astro.slots.render('bg'),
} = Astro.props;
---

<WidgetWrapper id={id} isDark={isDark} containerClass={`max-w-5xl ${classes?.container ?? ''}`} bg={bg}>
  <Headline title={title} subtitle={subtitle} tagline={tagline} classes={classes?.headline as Record<string, string>} />
  <div class="flex justify-center items-center gap-[1rem] my-[5rem] w-full flex-wrap">
    <div class="flex items-center justify-center w-[200px] max-w-[200px] h-20">
      <Forbes class="object-contain text-primary opacity-80 transition-all hover:opacity-100 w-[60%] h-full" />
    </div>
    <div class="flex items-center justify-center w-[200px] max-w-[200px] h-14">
      <CNN class="object-contain text-primary opacity-80 transition-all hover:opacity-100 w-[50%] h-full" />
    </div>
    <div class="flex items-center justify-center w-[200px] max-w-[200px] h-14">
      <CBS class="object-contain text-primary opacity-80 transition-all hover:opacity-100 w-[80%] h-full" />
    </div>
    <div class="flex items-center justify-center w-[200px] max-w-[200px] h-14">
      <Bloomberg class="object-contain text-primary opacity-80 transition-all hover:opacity-100 w-[75%] h-full" />
    </div>
    <div class="flex items-center justify-center w-[200px] max-w-[200px] h-14">
      <Reuters class="object-contain text-primary opacity-80 transition-all hover:opacity-100 w-[80%] h-full" />
    </div>
    <div class="flex items-center justify-center w-[200px] max-w-[200px] h-14">
      <AP class="object-contain text-primary opacity-80 transition-all hover:opacity-100 w-[90%] h-full" />
    </div>
  </div>
  <p class="text-center text-[12px] mt-[-2rem]">*Potential media coverage opportunities. Results may vary based on story quality and news relevance.</p>
    
</WidgetWrapper>
